a{
  text-decoration: none;
  color:#fff;
}
.meue-bar{
  background-color: #777;
  overflow: auto;
}
.meue-bar a{
  padding: 12px;
  display: inline-block;
  font-size: 18px;
  float:left;
}
.meue-bar a:hover{
  background-color: #000;
}
.meue-bar a.active{
  background-color: teal;
}